*.iml
*.idea
gradle-wrapper.jar
gradle-wrapper.properties
.idea/misc.xml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/codeStyles/Project.xml
gradle/wrapper/gradle-wrapper.properties
app/google-services.json
.idea/assetWizardSettings.xml
